html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.product-price h4 {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .product-price h4 {
    font-size: 16px;
  }
}

.product-price p {
  font-size: 16px;
  color: #212529;
}

.cta-button {
  height: 48px;
  width: 115px;
  text-decoration: none;
  background-color: #C0FA73;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.call-to-action-content {
  margin-top: 48px;
  background-color: #E8FEC5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 24px;
}

.call-to-action-content p {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .call-to-action-content p {
    font-size: 20px;
  }
}

.call-to-action-content a {
  height: 48px;
  width: 115px;
  cursor: pointer;
  text-decoration: none;
  background-color: #212529;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header .nav-web {
  padding: 16px clamp(24px, 16.25%, 312px);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .nav-web {
    padding: 12px;
  }
}

header .nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

header .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  header .nav-list {
    display: none;
  }
}

header .nav-list a {
  text-decoration: none;
  color: #212529;
}

header .nav-mobile {
  display: none;
}
@media (max-width: 768px) {
  header .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

header .nav-list-mobile {
  display: none;
}
@media (max-width: 768px) {
  header .nav-list-mobile {
    display: flex;
    width: 100%;
    height: 48px;
  }
}

header .nav-list-mobile li {
  flex: 1;
  height: 100%;
}

header .nav-list-mobile .products-mobile,
header .nav-list-mobile .brand-story-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #212529;
}

header .nav-list-mobile .products-mobile {
  background-color: #E8FEC5;
}

header .nav-list-mobile .brand-story-mobile {
  background-color: #F5FEE7;
}

.banner-wrapper {
  height: 800px;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .banner-wrapper {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-sm.png");
    height: 480px;
  }
}

.banner-content {
  padding: 16px clamp(24px, 10.4%, 200px);
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 768px) {
  .banner-content {
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.banner-content h1 {
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 5%;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 48px;
  }
}

.banner-content p {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 5%;
}
@media (max-width: 768px) {
  .banner-content p {
    font-size: 20px;
  }
}

.new-arrival {
  padding: 64px clamp(24px, 16.25%, 312px);
}
@media (max-width: 768px) {
  .new-arrival {
    padding: 40px 12px;
  }
}

.new-arrival-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-arrival-title h2 {
  font-size: 48px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .new-arrival-title h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.new-arrival-title h3 {
  font-size: 32px;
  font-weight: bold;
  color: #212529;
}
@media (max-width: 768px) {
  .new-arrival-title h3 {
    font-size: 24px;
  }
}

.new-arrival-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 16px;
}

.new-arrival-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.new-arrival-item a {
  text-decoration: none;
}

.new-arrival-item img {
  max-height: 636px;
  max-width: 636px;
  width: 100%;
}

.best-seller-list, .series-list {
  padding: 64px clamp(24px, 16.25%, 312px);
}
@media (max-width: 768px) {
  .best-seller-list, .series-list {
    padding: 40px 12px;
  }
}

.best-seller-list h3, .series-list h3 {
  font-size: 32px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .best-seller-list h3, .series-list h3 {
    font-size: 24px;
  }
}

.best-seller-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .best-seller-list ul {
    justify-content: flex-start;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
}

.best-seller-list li {
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  .best-seller-list li {
    flex: 0 0 70%;
    scroll-snap-align: start;
  }
}

.best-seller-note {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F5FEE7;
  color: #57A203;
  font-size: 14px;
  padding: 8px 12px;
}

.best-seller-list img {
  max-width: 422px;
  width: 100%;
}
@media (max-width: 768px) {
  .best-seller-list img {
    max-width: 300px;
  }
}

.sale-wrapper {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-co-branded.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .sale-wrapper {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-co-branded-sm.png");
    overflow-x: hidden;
    padding: 64px 12px;
  }
}

.sale-content {
  width: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
@media (max-width: 768px) {
  .sale-content {
    margin: 0;
    width: 100%;
  }
}

.sale-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .sale-title {
    flex-direction: column;
  }
}

.sale-title h2 {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 5%;
}
@media (max-width: 768px) {
  .sale-title h2 {
    font-size: 32px;
  }
}

.sale-title span {
  font-size: 40px;
  font-weight: bold;
  color: #C0FA73;
}
@media (max-width: 768px) {
  .sale-title span {
    font-size: 28px;
  }
}

.sale-content h3 {
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 5%;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .sale-content h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.sale-content p {
  font-size: 20px;
  color: #ADB5BD;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .sale-content p {
    display: none;
    margin-top: 0px;
  }
}

.sale-content .sale-content-mobile {
  display: none;
}
@media (max-width: 768px) {
  .sale-content .sale-content-mobile {
    display: flex;
    text-align: center;
    margin-top: 4px;
    letter-spacing: 5%;
    line-height: 1.6;
  }
}

.sale-content a {
  margin-top: 48px;
}

.sale-content .img-star {
  width: 48px;
  height: 48px;
  position: absolute;
  left: -56px;
  top: -32px;
}
@media (max-width: 768px) {
  .sale-content .img-star {
    left: -32px;
    top: -32px;
  }
}

.sale-content .img-sparkle {
  width: 76px;
  height: 64px;
  position: absolute;
  right: -38px;
  bottom: 32px;
}
@media (max-width: 768px) {
  .sale-content .img-sparkle {
    right: -38px;
    bottom: 40px;
  }
}

.sale-wrapper .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .sale-wrapper .dots {
    display: none;
  }
}

.sale-wrapper .dots li {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #CED4DA;
}

.sale-wrapper .dots li.active {
  background-color: #6C757D;
  width: 24px;
  border-radius: 4px;
}

.series-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .series-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

.series-list li {
  position: relative;
  display: inline-block;
}

.series-list img {
  max-width: 306px;
  width: 100%;
}
@media (max-width: 768px) {
  .series-list img {
    max-width: 300px;
  }
}

.series-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.series-note h4 {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .series-note h4 {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.series-note p {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 768px) {
  .series-note p {
    font-size: 16px;
  }
}

.style-inspiration {
  padding: 64px clamp(24px, 16.25%, 312px);
}
@media (max-width: 768px) {
  .style-inspiration {
    padding: 40px 12px;
  }
}

.style-inspiration h3 {
  font-size: 32px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .style-inspiration h3 {
    font-size: 24px;
  }
}

.style-inspiration-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}
@media (max-width: 768px) {
  .style-inspiration-list {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
}

@media (max-width: 768px) {
  .style-inspiration-list div {
    flex: 0 0 70%;
    scroll-snap-align: start;
  }
}

.style-inspiration-list img {
  width: 100%;
  display: block;
}

.inspiration-item-bg-man {
  grid-row: 2/4;
  grid-column: 1/3;
}

.inspiration-item-r2-c3 {
  grid-row: 2;
  grid-column: 3;
}

.inspiration-item-r2-c4 {
  grid-row: 2;
  grid-column: 4;
}

.inspiration-item-r3-c3 {
  grid-row: 3;
  grid-column: 3;
}

.inspiration-item-r3-c4 {
  grid-row: 3;
  grid-column: 4;
}

.inspiration-item-bg-woman {
  grid-row: 1/3;
  grid-column: 5/7;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px clamp(24px, 16.25%, 312px);
}
@media (max-width: 768px) {
  footer {
    padding: 32px 12px;
  }
}

footer .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
@media (max-width: 768px) {
  footer .nav-wrapper {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}

footer .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  footer .nav-list {
    flex-direction: column;
    gap: 4px;
    padding-left: 12px;
  }
}

footer .nav-list li {
  padding-top: 12px;
  padding-bottom: 12px;
}

footer .nav-list a {
  text-decoration: none;
  color: #212529;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #DEE2E6;
}

footer .copyright h4 {
  line-height: 1.6;
  color: #6C757D;
  text-align: center;
  margin-top: 32px;
}

footer .copyright p {
  line-height: 1.6;
  color: #6C757D;
  text-align: center;
}/*# sourceMappingURL=all.css.map */