@use "mixin" as *;
footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px clamp(24px, 16.25%, 312px);
    @include pad {
		padding: 32px 12px;
    };
}
footer .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    @include pad {
		flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}
footer .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include pad {
		flex-direction: column;
        gap: 4px;
        padding-left: 12px;
    }
}
footer .nav-list li {
    padding-top: 12px;
    padding-bottom: 12px;
}
footer .nav-list a {
    text-decoration: none;
    color: #212529;
}
footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DEE2E6;
}
footer .copyright h4 {
    line-height: 150%;
    color: #6C757D;
    text-align: center;
    margin-top: 32px;
}
footer .copyright p {
    line-height: 150%;
    color: #6C757D;
    text-align: center;
}