.banner-wrapper {
    height: 800px;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner-content {
    padding: 16px clamp(24px, 10.4%, 200px);
}
.banner-content h1 {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 5%;
    margin-bottom: 16px;
}
.banner-content p {
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 5%;
}
.banner-content a {
    height: 48px;
    width: 115px;
    cursor: pointer;
    text-decoration: none;
    background-color: #C0FA73;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.new-arrival {
    padding: 64px clamp(24px, 16.25%, 312px);
}
.new-arrival-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-arrival-title h2 {
    font-size: 48px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 12px;
}
.new-arrival-title h3 {
    font-size: 32px;
    font-weight: bold;
    color: #212529;
}
.new-arrival-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 16px;
}
.new-arrival-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}
.new-arrival-item a {
    text-decoration: none;
}
.new-arrival-item img {
    max-height: 636px;
    max-width: 636px;
    width: 100%;
}
.new-arrival-item h4 {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 4px;
}
.new-arrival-item p {
    font-size: 16px;
    color: #212529;
}
.best-seller-list {
    padding: 64px clamp(24px, 16.25%, 312px);
}
.best-seller-list h3 {
    font-size: 32px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 16px;
}
.best-seller-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.best-seller-list li {
    position: relative;
    display: inline-block;
}
.best-seller-note {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F5FEE7;
    color: #57A203;
    font-size: 14px;
    padding: 8px 12px;
}
.best-seller-list img {
    max-width: 422px;
    width: 100%;
}
.sale-wrapper {
    max-height: 470px;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-co-branded.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sale-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sale-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.sale-title h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 5%;
}
.sale-title span {
    font-size: 40px;
    font-weight: bold;
    color: #C0FA73;
}
.sale-content h3 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 5%;
    margin-top: 16px;
}
.sale-content p {
    font-size: 20px;
    color: #ADB5BD;
    margin-top: 32px;
}
.sale-content a {
    height: 48px;
    width: 115px;
    text-decoration: none;
    background-color: #C0FA73;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: 48px;
    font-size: 16px;
}
/* .sale-content .star {
    position: absolute;
    top: -56px;
    left: -24px;
} */
.sale-wrapper .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.sale-wrapper .dots li {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #CED4DA;
}
.sale-wrapper .dots li.active {
    background-color: #6C757D;
    width: 24px;
    border-radius: 4px;
}